{% extends "base.html" %}
{% block title %}Gallery{% endblock %}
{% block head %}
<script type="text/javascript" src="static/script.js"></script>
{% endblock %}
{% block content %}
    <h1 style="font-size: 44px; color: white;">Gallery</h1>
    <div class="overlay"><img src="blah" id="top" hidden=True>
        <button onclick="do_close()" id="close" hidden=True class="button">Close</button>
    </div>
    <div class="cx">
        {% for path in paths %}
        {% if path[1] == "img" %}
        <img src='cdn/{{ path[0] }}' height=200 width=200 onclick="clicked_img(this)">
        {% endif %}
        {% if path[1] == "vid" %}
        <video width="200" height="200" controls>
            <source src='cdn/{{ path[0] }}' type="video/mp4">
        </video>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}